:root{
    /*Declaração de Variaveis*/
    --vermelho: #E50914; 
    --preta: #141414;
}

*{
    /*Zerar pagina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Base*/
body {
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', 'Times New Roman', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none; /*Tirar linha sublinhada*/
    color: #aaa;
    margin-right: 10px; /* espaço entre os menus*/
}

header nav a:hover {
    color: #fff; /*Evento ao passar o mouse*/
}

/*Show Principal*/
.shows-Principais{
    font-size: 16px;
    background: url('/img/metallica_Capa.png');

    height: 400px;
    background-size: cover;
}


